.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.titulo {
  padding: 0 15px;
}
.container ul {
  padding: 0;
  list-style: none;
  padding: 0 15px;
}

.columnas ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  display: flex;
  padding: 15px 10px 15px 15px;
  border-radius: 20px;
  position: relative;
  min-height: 100px;
}
.nombreTipos {
  display: flex;
  flex-direction: column;
}
.nombreTipos h3 {
  margin: 0;
  color: #fff;
  text-transform: capitalize;
}

.card .imagen {
  position: absolute;
  right: -15px;
  top: 10px;
}

.card .tipo {
  color: #fff;
  background-color: rgba(255, 255, 230, 0.3);
  margin-bottom: 4px;
  border-radius: 20px;
  text-align: center;
  padding: 2px 10px;
  text-transform: capitalize;
  font-size: 14px;
  place-self: flex-start;
}

.card .tipos {
  display: flex;
  flex-shrink: wrap;
  flex-direction: column;
}

.filtros {
  display: flex;
  padding: 15px;
}
.botones {
  display: flex;
  overflow: auto;
  padding: 0 15px;
}

.botonFiltro {
  border-radius: 20px;
  padding: 3px 15px;
  margin: 0 5px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: #fff;
}
.botonTodos {
  color: #000;
}
